{% extends 'base.html.twig' %}


{% block titre %}
Creer une nouvelle Sortie
{% endblock %}


{% block body %}

{{ form_start(formulaire)}}
{{ form_widget(formulaire)}}
<button class="btn btn-info" type="submit">Enregistrer</button>
<button class="btn btn-info" type="submit">Publier la sortie</button>
<button class="btn btn-info" type="submit">Annuler</button>

{{ form_end(formulaire)}}

{% endblock %}