{% extends 'base.html.twig' %}


{% block titre %}
Creer une nouvelle Sortie
{% endblock %}


{% block body %}

{{ form_start(formulaire)}}
{{ form_widget(formulaire)}}

<button class="btn btn-warning" type="submit">Enregistrer</button>
<button class="btn btn-success" type="submit">Publier la sortie</button>
<a href="{{ path('home')}}">
			<button class="btn btn-danger">Retour</button>
		</a>

{{ form_end(formulaire)}}

{% endblock %}