{% extends 'base.html.twig' %}


{% block titre %}
Creer une nouvelle Sortie
{% endblock %}


{% block body %}

{{ form_start(formulaire)}}
{{ form_widget(formulaire)}}

{{ form_end(formulaire)}}

<a href="{{ path('home')}}">
			<button class="btn btn-danger">Retour</button>
		</a>

{% endblock %}