{% extends 'base.html.twig' %}


{% block titre %}
{{ titre }} | {{ parent() }}
{% endblock %}


{% block body %}
<p>

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!

</p>

{% endblock %}