.formulaire {
    width: 250px;
    margin: auto;

}

#imgProfil{
    float: left;
    margin-top: 50px;
    margin-left: 150px;
    }
#titreProfil {
    display: flex;
    justify-content: left;
    margin-left: 45%;
 }